#interactions {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;

  #buttons {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.083);
    border-radius: 0.5rem;
    user-select: none;

    #minus,
    #plus {
      padding: 0.5rem;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        color: rgba(255, 128, 0, 0.531);
      }
    }

    p {
      font-weight: 900;
    }
  }

  #add-to-cart {
    display: flex;
    min-width: 15rem;
    height: 3rem;
    color: white;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;

    #icon {
      font-weight: 900;
      font-size: 1.25rem;
    }

    p {
      font-weight: 900;
    }
  }
}
