#home {
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    margin-left: 6rem;
  }

  #products {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding-left: 3rem;
    padding-top: 2rem;

    .product {
      width: 25%;
      height: 40%;
      border-radius: 0.5rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: end;
      color: white;
      font-weight: 900;
      padding: 1rem;
      box-shadow: 5px 5px 5px grey;
      transition: all 500ms;
      position: relative;

      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 5px calc(5px + 0.5rem) 5px grey;
      }

      #icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
}
