#users {
  display: flex;
  flex-direction: column;

  table {
    border-spacing: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 1rem;
    box-shadow: 0 0 15px grey;

    * {
      height: 3rem;
    }

    tbody > tr {
      &:nth-child(odd) {
        background-color: white;
      }

      &:nth-child(even) {
        background-color: #f3f3f3;
      }

      td {
        padding-left: 1rem;
      }

      button {
        border: none;
        height: 75%;
        border-radius: 0.25rem;
      }

      #update {
        background-color: #01987aa0;

        &:hover {
          background-color: #01987ac1;
        }
      }

      #delete {
        background-color: #980106a0;

        &:hover {
          background-color: #980106cf;
        }
      }
    }

    th {
      background-color: #01987a;
      color: white;
      font-weight: 600;
      text-align: start;
      padding-left: 1rem;

      &:nth-child(1) {
        border-radius: 0.5rem 00 0 0;
      }
      &:last-child {
        border-radius: 0 0.5rem 0 0;
      }
    }

    button {
      cursor: pointer;
    }
  }
}
