@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
  font-family: "DM Sans";
  position: relative;
}

body {
  position: static;

  #portal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
